.selected-products {
  /* height: 400px; */
  width: 50%;
  margin: 10px auto auto;
  border-radius: 4px;
  background-color: rgba(78, 77, 77, 0.486);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html {
  background-color: #eaf0f2;
  font-family: "Lucida Console", monospace;
}

body {
  color: #5b6469;
}


.container {
  display:flex;
  width: 50%;
  margin: 10px auto auto;
  height:400px;
}

.main-menu {
  width:250px;
}

.main-menu-pgactive {
  left: 0%;
}
.main-menu-list {
  margin: 0;
  padding: 0;
}
.main-menu-list li {
  margin-bottom: 5px;
  list-style: none;
  cursor: pointer;
}
.main-menu-list a {
  display: block;
  background-color: #6bb9e1;
  padding: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.main-menu-list a:active,
.main-menu-list a:visited {
  text-decoration: none;
}
.main-menu-list a:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #6884fd;
  z-index: -1;
}
.main-menu-list a:hover {
  color: #ffffff;
  border: 0px solid transparent !important;
  text-decoration: none;
  padding-left: 15px;
}
.main-menu-list a:hover:before {
  width: 100%;
}
.main-menu-list a.menuActive {
  text-decoration: none;
  background: #6884fd;
  padding-left: 15px;
}

.products-card {
    margin-left:10px;
    width:600px;
    border-radius: 4px; 
    background-color: rgba(78, 77, 77, 0.486);    
}

.product-entry {
  color: white;
  font-family: "Lucida Console", monospace;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-price {
  /* justify-self: flex-end; */
}

.add-product {
  cursor: pointer;
}

.selected-products > div > .product-entry {
  font-size: 20px;
}

.button {
  display: flex;
  width: 680px;
  justify-content: center;
  list-style: none;
  text-align: center;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.button li {
  display: inline-block;
  margin: 0 8px;
}

.button li:hover {
  opacity: 0.9;
  cursor: pointer;
}

.button li a {
  color: #fff !important;
  text-decoration: none !important;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  padding: 6px 7px;
  border-radius: 3px;
  box-shadow: 1px 1px	 1px rgba(0, 0, 0, 0.1);
}

.button li a {
  background-color: #6bb9e1;
}